@model NovoDiagnosis.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stateid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stateid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parentid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parentid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logoid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logoid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizationStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizationStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizationNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizationNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisapprovalNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisapprovalNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisapprovedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisapprovedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisapprovalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisapprovalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletionNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletionNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubsidiaryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubsidiaryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyListPageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyListPageId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogoLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogoLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegAgeLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegAgeLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeboperationMode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeboperationMode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsRenewal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRenewal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
