@model NovoDiagnosis.Models.CompanyBenefit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyBenefit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Companyid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Companyid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyPlanid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyPlanid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BenefitId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BenefitId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BenefitLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BenefitLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
