
@model NovoDiagnosis.Models.DiagnosisDetails

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Edit";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                @{
                    var user = await UserManager.GetUserAsync(User);
                }
                <div class="row mb">
                    <!-- page start-->
                    <div class="content-panel border rounded">
                        <div class="adv-table">
                            <h3 align="center">Update Your Annual Diagnosis Records</h3><hr width="250" />
                            <p align="center"> Kindly fill the form below to submit an appointment for medical check. <br />You will receive a confirmation email if your request is approved. <br />Ensure you check both inbox and soam for the mail.</p>
                            <div class="container">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group">

                                        <input type="hidden" asp-for="FullName" class="form-control" value="@user.FullName" />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">

                                        <input type="hidden" asp-for="StaffId" class="form-control" value="@user.StaffId" />
                                        <span asp-validation-for="StaffId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Provider" class="control-label"></label>
                                        <input asp-for="Provider" class="form-control" readonly />
                                        <span asp-validation-for="Provider" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="State" class="control-label"></label>
                                        <input asp-for="State" class="form-control" readonly />
                                        <span asp-validation-for="State" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" readonly />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PhoneNumber" class="control-label"></label>
                                        <input asp-for="PhoneNumber" class="form-control" readonly />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AppointmentDate" class="control-label"></label>
                                        <input asp-for="AppointmentDate" class="form-control" readonly />
                                        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AppointmentTime" class="control-label"></label>
                                        <input asp-for="AppointmentTime" class="form-control" readonly />
                                        <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="CompletedAnnualMedical" /> @Html.DisplayNameFor(model => model.CompletedAnnualMedical)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="Approve" /> @Html.DisplayNameFor(model => model.Approve)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="Reject" /> @Html.DisplayNameFor(model => model.Reject)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Recommendation" class="control-label">Reason For Rejection</label>
                                        <input asp-for="Recommendation" class="form-control" />
                                        <span asp-validation-for="Recommendation" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="AuthorizationCode" class="control-label"></label>
                                        <input asp-for="AuthorizationCode" class="form-control" />
                                        <span asp-validation-for="AuthorizationCode" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">

                                        <input type="hidden" asp-for="UserName" class="form-control" value="@user.UserName" readonly />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Diagnosis" class="control-label"></label>
                                        <textarea asp-for="Diagnosis" class="form-control"></textarea>
                                        <span asp-validation-for="Diagnosis" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-facebook" />
                                    </div>
                                </form>
                                <br />
                                <div>
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><section></section>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
