@model NovoDiagnosis.Models.DiagnosisDetails

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DiagnosisDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompletedAnnualMedical)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompletedAnnualMedical)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Approve)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Approve)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizationCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizationCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recommendation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recommendation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PresentingComplain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PresentingComplain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanTest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanTest)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
